  
  <div class="container">
    <h1>Women's Popular Bags & Shoes </h1>
    <div class="box">
      <div class="card" *ngFor="let product of productsArray" > 
        <img class="coverImg" src="{{product.image}}" alt="">
         <div class="card-body">
           <h3>{{product.brand}}</h3>
           <h5>{{product.name}}</h5>
           <p >Category: {{product.category}}<p>
           <h5>Price: {{product.price}} $</h5>
           <p >size: {{product.size}}</p>
           <button type="button" *ngIf="productOwner(product)" (click)="deleteProduct(product.id)" class="btn btn-danger delete">Delete</button>
         </div>
        </div>
    </div>
  </div>






