<div class="container">
    <h1>Women's Popular Shoes & Sneakers | Adidas US</h1>
    <div class="box">
      <div class="card" *ngFor="let product of productsArray" > 
        <img class="coverImg" src="{{product.img}}" alt="">
         <div class="card-body">
           <h5 >{{product.name}}</h5>
           <p class="gift"  *ngIf="product.gift"> <i class="bi bi-gift-fill"></i> </p>
           <p >Price: {{product.price}} $</p>
           <p>size: {{product.size}}</p>
           <p class="sale" *ngIf="product.sale"> -20% </p>
         </div>
       </div>
    </div>
  </div>

  <div class="container">
    <h1>Men's Popular Shoes & Sneakers | Adidas US</h1>
    <div class="box">
      <div class="card" *ngFor="let product of menProductsArray" > 
        <img class="coverImg" src="{{product.img}}" alt="">
         <div class="card-body">
           <h5 >{{product.name}}</h5>
           <p class="gift"  *ngIf="product.gift"> <i class="bi bi-gift-fill"></i> </p>
           <p >Price: {{product.price}} $</p>
           <p>size: {{product.size}}</p>
           <p class="sale" *ngIf="product.sale"> -10% </p>
         </div>
       </div>
    </div>
  </div>

  <div class="container">
    <h1>BALENCIAGA Popular Bags</h1>
    <div class="box">
      <div class="card" *ngFor="let product of balenciagaBag" > 
        <img class="coverImg" src="{{product.img}}" alt="">
         <div class="card-body">
           <h5 >{{product.name}}</h5>
           <p class="gift"  *ngIf="product.gift"> <i class="bi bi-gift-fill"></i> </p>
           <p >Price: {{product.price}} $</p>
           <p>size: {{product.size}}</p>
           <p class="sale" *ngIf="product.sale"> -10% </p>
         </div>
       </div>
    </div>
  </div>




