
.container {
    
    h1 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 70px;
        letter-spacing: 0.5px;
        color: #101913;
        margin-top: 60px;
    }

    .box {
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        gap:30px;
        margin-top: 30px;
        .card {
            width: 300px;
            height: 450px;
            box-shadow: 5px 5px 15px black;
    
           .coverImg {
                object-fit: cover;
                width: 100%;
                height: 300px ;
                box-sizing: border-box;
            }
            .card-body {
                width: 100%;
                text-align: center;
    
                h5 {
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 40px;
                    letter-spacing: 0.5px;
                    color: #101913;
                    margin-top: 10px;
                    
                }
                p {
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.3px;
                    color: #535A56;
                }

                .gift {
                    color:red;
                    font-size: 22px;
                    font-weight: bold;
                    position: absolute;
                    top:10px;
                    right:10px;
                }

                .sale {
                    font-family: 'Manrope-bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 20px;
                    letter-spacing: 0.3px;
                    color: red;
                    position: absolute;
                    top: 57%;
                    left:10px;
                    
                }
            }

            
          
        }

    }
}

