.title {
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.3px;
    color: #101913;   
}
.content {
    padding-top: 15px;

    .row {
        display: flex;
        gap:15px;

        mat-form-field {
            width: 100%;
        }
    }
}