.container {
    margin-top: 200px;

    .category {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .categories {

            h1 {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0.3px;
                color: #101913;
                margin-bottom: 30px;
                cursor: pointer;
            }

            p {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.3px;
                color: #535A56;
                cursor: pointer;
            }
        }
    }

}

