<div class="container">
    <div class="category">
        <div class="categories">
            <h1>Adidas</h1>
            <p>Shoes</p>
            <p>Sneakers</p>
            <p>T-shirt</p>
            <p>Trousers</p>
        </div>
        <div class="categories">
            <h1>BALENCIAGA</h1>
            <p>Accessories</p>
            <p>Bags</p>
            <p>Clothing</p>
            <p>Shoes</p>
        </div>
        <div class="categories">
            <h1>GUCCI</h1>
            <p>Accessories</p>
            <p>HandBags</p>
            <p>Clothing</p>
            <p>Shoes</p>
            <p>Travel</p>
        </div>
        <div class="categories">
            <h1>NIKE</h1>
            <p>Men's Sneakers</p>
            <p>Women's Sneakers</p>
            <p>Clothing</p>
            <p>All Shoes</p>
            <p>T-shirt</p>
            <p>Trousers</p>
        </div>
    </div>
</div>
