<div class="container">
    <div class="box">
        <div class="title">
            <h1>Best Place To Buy <br><span>Everything</span> </h1>
            <p>At Bachira, you can shop for all your favorite beauty brands, clothes, <br> household products and more at a single place.</p>
            <button>Shopping Now</button>
        </div>
        <img src="../../assets/images/Hero Image.png" alt="gilShop">
    </div>

    <div class="brands">
        <p>We Collaborate With 250++ Leading Top <br> E Commerce and Brands</p>
        <div class="category">
            <img src="../../assets/images/tokopedia.png">
            <img src="../../assets/images/Balenciaga svg.png">
    
            <img src="../../assets/images/adidas.png">
            <img src="../../assets/images/GUCCI.png">
            <div class="image">
                <img src="../../assets/images/Vector1.png">
                <img src="../../assets/images/bukalapak.png">
            </div>
    
        </div>
    </div>
</div>

   