.container {

    .box {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .title {
            height: 140px;
            margin-top: 102px;

            h1 {
                font-family: 'Manrope-bold';
                font-style: normal;
                font-weight: 700;
                font-size: 46px;
                line-height: 70px;
                letter-spacing: 0.3px;
                color: #101913;
                margin-bottom: 32px;
    
                span {
                    color:#3C9379;
                }
            }
    
            p {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.3px;
                color: #535A56;
                margin-bottom: 32px;
    
            }
    
            button {
                padding: 16px 22px;
                background: #3C9379;
                border-radius: 8px;
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0.3px;
                border: none;
                color: #FFFFFF;
                cursor: pointer;
    
            }
        }
    
        img {
            width: 833px;
            height: 519px;
            left: 1421px;
            top: 124px;
            margin-top: 56px;
        }
    }
 
@media only screen and (max-width: 1600px) { 
   .box img{
    width: 600px;
    height: 400px;
    }
}

@media only screen and (max-width: 1200px) {
    .box img{
     width: 400px;
     height: 300px;
     }

    .title h1 {
        font-size: 35px !important;
        line-height: 50px !important;  
    }
 }

 @media only screen and (max-width: 995px) {
    .title h1 {
        font-size: 30px !important;
        line-height: 40px !important;    
    }
 }

 @media only screen and (max-width: 767px) { 
        .title h1 {
        font-size: 25px !important;
        line-height: 25px !important;  
        margin-bottom: 20px !important;  

    }
    .title p {
        font-size: 10px !important;
        line-height: 12px !important; 
        margin-bottom: 20px !important;
    }

    .title button {
        padding: 10px 12px !important;
        font-size: 12px !important;
    }

}

@media only screen and (max-width: 530px) { 
    .box img{
     width: 220px;
     height: 200px;
     }

     .title {
        margin-top: 52px !important;
     }
 }
    
    .brands {
        margin-top: 75px;
        width: 100%;
    
        p {
            text-align: center;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 0.3px;
            color: #101913;
    
        }

        .category {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            

            .image {
                display: flex;
                flex-wrap: wrap;
                gap:10px;
            }
    
    
        }
    }

    @media only screen and (max-width: 1240px) { 
        .brands p {
            font-size: 25px !important;
        }
        .category {
        justify-content: center !important;
        gap: 30px;
        }
    }

    @media only screen and (max-width: 530px) { 
        .brands {
            margin-top: 100px !important;
        }
        .brands p {
            font-size: 18px !important;
            line-height: 20px !important;
        }
     }



    .our-store {
        margin-top: 130px;
    
        .our-store-title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.3px;
            color: #101913;
            margin-bottom: 30px;
        }
    
        .store-img {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            
    
            .img-box {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                gap: 32px;
            }
        }

        @media only screen and (max-width: 1400px) { 
            .store-img {
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
    
                .img-box img{
                    justify-content: center;
                    width: 350px;
                    height: 200px;
                    
                }
            }
            
        }

        @media only screen and (max-width: 770px) { 
            .our-store-title {
                width: 100%;
                text-align: center;
            }
        }
        
    }


    
    .why-bachira {
        margin-top: 100px;
    
        .bachira-title {
            text-align: center;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.3px;
            color: #101913;
    
            span {
                color:#3C9379;
            }
        }
    
        .bachira-box {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
    
            .Bachira-detail {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                h2 {
                    font-family: 'Manrope-bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 20px;
                    letter-spacing: 0.3px;
                    color: #101913;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
    
                .bachira-text {
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    letter-spacing: 0.3px;
                    color: #535A56;
                }
            }
        }

        @media only screen and (max-width: 770px) { 
            .bachira-box {
                justify-content: center !important;
            }
        }
    }


    .All-brands {
        margin-top: 100px;

        h1 {
                        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.3px;
            color: #101913;
            margin-bottom: 20px;
        }

        .all-brand {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .all-brand-box {

                img {
                    border-radius: 20px;
                }
           
                h3 {
                    font-family: 'Manrope-bold';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                    letter-spacing: 0.3px;
                    color: #101913;
                    margin-top: 15px;
                    margin-bottom: 8px;
                }

                p {
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 16px;
                    letter-spacing: 0.3px;
                    color: #101913;

                }
            }
        }

    }

    @media only screen and (max-width: 770px) { 
        .All-brands h1 {
            text-align: center !important;
            font-size: 25px;
        }
        .all-brand {
            width: 100%;
            justify-content: center !important;
        }
    }

  
}
