<div class="container">
    <div class="box">
        <div class="title">
            <h1>Best Place To Buy <br><span>Everything</span> </h1>
            <p>At Bachira, you can shop for all your favorite beauty brands, clothes, <br> household products and more at a single place.</p>
            <button  routerLink="../products">Shopping Now</button>
        </div>
        <img src="../../assets/images/Hero Image.png" alt="gilShop">
    </div>

    <div class="brands">
        <p>We Collaborate With 250++ Leading Top <br> E Commerce and Brands</p>
        <div class="category">
            <img src="../../assets/images/tokopedia.png">
            <img src="../../assets/images/Balenciaga svg.png">
    
            <img src="../../assets/images/adidas.png">
            <img src="../../assets/images/GUCCI.png">
            <div class="image">
                <img src="../../assets/images/Vector1.png">
                <img src="../../assets/images/bukalapak.png">
            </div>
        </div>
    </div>
    
    <div class="our-store">
        <h1 class="our-store-title">Browse Categories of <br> The Store</h1>
        <div class="store-img">
            <div class="img-box">
                <img src="../../../assets/images/Group 4.png">
                <img src="../../../assets/images/Group 6.png">
            </div>
            <img src="../../../assets/images/Group 10.png">
            <img src="../../../assets/images/Group 8.png">
        </div>
    </div>

    <div class="why-bachira">
        <h1 class="bachira-title">Why Choose Ba<span>chira</span>?</h1>
        <div class="bachira-box">
            <div class="Bachira-detail">
                <img src="../../../assets/images/Icon-1.png">
                <h2>Free Delivery</h2>
                <p class="bachira-text">Lorem ipsum dolor sit amet, consectetu <br> adipiscing elit, sed do eiusmod tempor</p>
            </div>
            <div class="Bachira-detail">
                <img src="../../../assets/images/Icon-2.png">
                <h2>Trusted Platfrom</h2>
                <p class="bachira-text">Lorem ipsum dolor sit amet, consectetu <br> adipiscing elit, sed do eiusmod tempor</p>
            </div>
            <div class="Bachira-detail">
                <img src="../../../assets/images/Icon-3.png">
                <h2>Here For You</h2>
                <p class="bachira-text">Lorem ipsum dolor sit amet, consectetu <br> adipiscing elit, sed do eiusmod tempor</p>
            </div>
        </div>
    </div>

    <div class="All-brands">
        <h1>Populer Products From <br>All Brands</h1>
        <div class="all-brand">
            <div class="all-brand-box">
                <img src="../../../assets/images/image 1.png" alt="">
                <h3>Nike Air Force</h3>
                <p>Rp 2.999.999</p>
            </div>
            <div class="all-brand-box">
                <img src="../../../assets/images/image 2.png" alt="">
                <h3>White Sweter</h3>
                <p>Rp 299.999</p>
            </div>
            <div class="all-brand-box">
                <img src="../../../assets/images/image 3.png" alt="">
                <h3>Android Smartwatch</h3>
                <p>Rp 1.399.999</p>
            </div>
            <div class="all-brand-box">
                <img src="../../../assets/images/image 4.png" alt="">
                <h3>Apple Airpods</h3>
                <p>Rp 2.599.999</p>
            </div>
        </div>

    </div>
</div>

   