.container {
    width: 100%;
    height: fit-content;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;

    .sign-in {
       width: 550px;
        height: fit-content;
        box-shadow: 3px 3px 10px black;
        padding: 50px 50px;
        border-radius: 10px;
        
        h2 {
            margin-bottom: 50px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.3px;
            color: #101913;                                          
        }

        label {
            display: block;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.3px;
            color: #101913;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            padding: 8px 15px;
            margin-bottom: 30px;
            border-radius: 10px;
            border: none;
            box-shadow: 3px 3px 10px gray;
            outline: none;
        }

        .labelValidators {
            display: none;
        }
    
        input.ng-invalid.ng-touched + .labelValidators {
            display: block;
            color: rgb(190, 8, 8);
            margin-top: -18px;
            font-weight: 500;
            font-size: 12px;
        }

        .login {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.3px;
            color: #FFFFFF;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 18px;
            gap: 10px;
            width: 100px;
            height: 40px;
            background: #3C9379;
            border-radius: 8px;
            border: none;
            display: inline-block;
            margin-right: 15px;
         }

         .signUp {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 16px;
            letter-spacing: 0.3px;
            color: #3C9379;
            padding: 12px 18px;
         }
    }

}