.Brands {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:60px;

    h1 {
        font-family: 'Manrope-bold';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 40px;
        letter-spacing: 0.3px;
        color: #101913;
        cursor: pointer;
        text-shadow: 2px 2px 5px gray
        }
}