<div class="container">
    <footer>
        <div class="box-1">
            <h1>Ba<span>chira</span></h1>
            <p>Bachira is an online store dealing with all product <br> Bachira provide cheap, high quality, products to <br>customers</p>
        </div>
        <div class="box-2">
            <div class="details">
                <h2>For Beginner</h2>
                <p>About</p>
                <p>Career</p>
                <p>Promotion</p>
            </div>
            <div class="details">
                <h2>Overview</h2>
                <p>Product</p>
                <p>Categories</p>
                <p>Pricing</p>
            </div>
            <div class="details">
                <h2>Explore Us</h2>
                <p>Our Career</p>
                <p>Privacy</p>
                <p>Terms & Conditions</p>
            </div>
            <div class="details">
                <h2>Connect Us</h2>
                <p>support@bachira.com</p>
                <p>021 - 555 -456</p>
                <p>Sudirman, South Jakarta</p>
            </div>
        </div>
    </footer>
</div>
